.anchor {
    position: relative;

    div {
        position: absolute;
        top: -5rem;
    }
}

.section {
    padding: 5rem 0;

    &.dark {
        background: var(--light-bg);
    }

    .section-title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: var(--primary-color);
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background: var(--accent-color);
            border-radius: 2px;
        }
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 2rem;
    }
}
