.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--space-20);
    background: rgba(79, 14, 14, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: background 0.3s ease;

    .btn {
        transform: scale(1.2);
        border-radius: var(--radius-half);
        height: var(--space-10);
        aspect-ratio: 1/1;
        cursor: pointer;
        user-select: none;

        path {
            transform: scale(calc(1 / 1.3)) translateX(15%) translateY(15%);
        }
    }

    .btn:hover {
        background-color: #ffffff30;
    }

    .navbar-header {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--space-4);

        .nav-brand {
            font-size: 1.8rem;
            font-weight: bold;
            color: var(--text-light);
            letter-spacing: 2px;
            display: flex;
            gap: var(--space-4);
            align-items: center;

            .open-menu.btn {
                path {
                    stroke: var(--text-light);
                    transition: stroke 0.3s ease;
                }

                &:hover path {
                    stroke: var(--accent-color);
                }
            }
        }

        .logo {
            display: block;
            max-height: var(--space-16);
        }
    }

    .background-button {
        position: absolute;
        z-index: 1001;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        z-index: 1002;
        width: 70%;
        max-width: 25rem;
        height: 100vh;
        position: absolute;
        background-color: var(--light-bg);
        top: 0;
        left: -100%;
        transition: left 0.3s ease;

        &.nav-links-open {
            left: 0;
        }

        .mini-header {
            background-color: var(--primary-color);
            height: var(--space-20);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 var(--space-2) 0 var(--space-6);

            .close-menu.btn {
                path {
                    fill: var(--text-light);
                    transition: fill 0.3s ease;
                }

                &:hover path {
                    fill: var(--accent-color);
                }
            }

            .logo {
                max-height: var(--space-16);
                display: block;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--space-4);
            padding: var(--space-8);
            list-style: none;

            .separator {
                height: 1px;
                background: var(--dark-bg);
                opacity: 20%;
                margin: var(--space-4) 0;
            }

            li a {
                color: var(--accent-color);
                text-decoration: none;
                font-size: var(--font-size-xl);
                font-weight: 500;
                transition: color 0.3s ease;
                position: relative;

                &:hover {
                    color: var(--primary-color);
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: var(--primary-color);
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
