.login-container {
    width: 400px;
    background-color: var(--accent-color);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: var(--radius-lg);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.login-container h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    padding-bottom: 3rem;
    color: #ffffff;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;

    &::placeholder {
        color: #e5e5e5;
    }
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: var(--radius-half);
    border: none;
    cursor: pointer;
    outline: none;
}
